.home {

    .login-container {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.1);
        width: 30vw;
        background: #fffcfc;
        text-align: left;

        form {
            padding: 12px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            // background-color: #007BFF;
            border: 1px solid #007BFF;
            background: transparent;
            color: #007BFF;
            cursor: pointer;
            transition: .5s ease;
            display: flex;
            justify-content: space-around;

            &:hover {
                background-color: #0056b3;
                color: azure;
            }
        }
    }

    .home-header {
        display: flex;
        justify-content: space-around;
        margin: 14px auto;
        padding: 5px;


        .navLogin {

            display: flex;
            // justify-content: center;
            // align-items: center;

            ul {
                display: flex;

                li {
                    list-style: none;

                    a {
                        margin: 2px 12px;
                        text-decoration: none;
                    }
                }
            }
        }

    }
}